/*style.css*/

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
body.dashboard-body {
    background: #fff;
    color: #333;
}
a {
    text-decoration: none;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}
h1{font-size:2.5em;}
h2{font-size:2em;}
h3{font-size:1.7em;}
h4{font-size:1.5em;}
h5{font-size:1.2em;}

.flexy {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.height100 {
    height: 100vh;
    /*overflow: hidden;*/
}
.flex-cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    top: 40%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: absolute;
}
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    /*background: #2196f3;*/
}
.heading-black, .heading-black a {
    font-size: 1.5em;
    font-weight: 600;
    color: #3f3f3f;
}
.white-bg {
    background:#fff;
}
.text-center {
    text-align: center;
}

.hamburger {
    float: right;
    margin: 20px 20px;
}
.top-menu-cont {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    top: 0;
    position: absolute;
}
.right-menu-cont {
    position: absolute;
    top: 0;
    height: 60px;
    border: 1px solid black;
    width: 33.333%;
    text-align: center;
}
.col-left-75 {
    width: 66.666%;
    float: left;
    position: relative;
    display: flex;
    min-height: 5px;
}
.col-right-35 {
    width: 33%;
    float: left;
    box-shadow: -2px 0px 10px 2px rgba(218, 218, 218, 0.54);
    border-left: 1px solid #e9e9e9;
}
.right-menu-item {
    display: inline-block;
}
.wb-btn {
    background: #fff;
    padding: 10px 25px;
    margin: 10px 15px;
    border: 1px solid #fff;
    transition: .4s;
}
.wb-btn:hover {
    border: 1px solid #03a9f4;
    background: #03a9f4;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;

}
.hover {
    cursor: pointer;
}
.login-form {
    width: 80%;
    margin: 0 auto;
}
.login-form input {
    display: inline-block;
    vertical-align: baseline;
    width: 50%;
    padding: 10px;
    margin: 10px;
}
.login-form input[type="submit"] {
    /*background: black;*/
    /*color: #fff;*/
    /*border: 0;*/
    /*padding: 10px;*/
    /*width: 55%;*/
}
.login-form .button, .login-form .submit, .login-form input[type="submit"] {
    background-color: rgb(52, 152, 219);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(52, 152, 219);
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 0px;
    margin: 20px auto 0px;
    transition: background ease-in-out .2s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.login-form .button:hover, .login-form .submit:hover, .login-form input[type="submit"]:hover {
    background: #FFF;
    color: #444;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
}
.login-form input[type="text"] {
    padding: 10px;
    margin: 10px;
    border:0;
    border-bottom: 1px solid #8a8a8a;
}
input:focus, input:hover, textarea:active, textarea:focus, textarea:hover {

}
div#pro {
    border: 1px solid #03a9f4;
    background: #03a9f4;
    color: #fff;
}

nav .drop-down {
    list-style: none;
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    background-color: #34495e;
    font-family: Arial;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

nav .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 43px;
}

nav .drop-down li {
    border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
}

/*Animations and Keyframes*/
.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(.95);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.95);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(.3);
    }
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}


@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1) !important;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1) !important;
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
}

@keyframes bounceOutLeft {
    0% {
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        opacity: 0;
        transform: translateX(-2000px);
    }
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
}

@keyframes bounceOutRight {
    0% {
        transform: translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadein {
    -webkit-animation-name: fadein;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    animation-name: fadein;
}


/*Media Queries*/
@media (max-width: 1200px) {
    .sticky-col-right, .sticky-col-left {
        width: 100%;
    }
    body {
        overflow-y: scroll;
    }
    .form-wrapper {
        max-width: 500px;
        margin: 0 auto;
    }
    form.vypn-form input[type="text"], form.form-wrapper input[type="text"] {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .flex-cont {
        height: 20vh;
    }
    h2, h3  {
        font-size:1.3rem !important;
    }
}